/* Global */
.navbar {
  background-color: #8B0000;
  border-bottom: 1px solid #27292d;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  height: 42px;
  width: 100%; }
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
   width: 100%;
   display: none;
   position: absolute;
   background-color:#f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }
 .show {display:block;}

.nav .navbar-nav li {
  color: ;
}

.collapse .navbar-collapse {
  color: #000000;
  font-weight: bold;
}
.navbar-header {
  color:#ffffff;
  font-weight: bold;
  font-size: 12px;
}
.navbar-header h1{
    font-family: helvetica, arial, sans-serif;
}
.navbar .navbar-nav li a {
  color: #ffffff;
}
#extra-links {
  height: 70px;
  background-color:gray;
  width: 100%;
  color: #ffffff;
display:block;}

#extra-links .btn-group {
  height: inherit;
}
#extra-links a {
  height: inherit;
  width: 160px;
  border: none;
  border-radius: 0;
  background-color: gray;
  color:#ffffff;
   text-align: center;
}

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	}

a:hover {
    opacity: 0.6;
    text-decoration: none;
}



body{
    border-top:0;
    background:#c4e17f;
    background-image:-webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4)
}

.thumbnails li> .fff .caption {
    background:#fff !important;
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}

.page-header h2 {
    font-family: helvetica, arial, sans-serif;
text-align: center;
text-transform: lowercase;
color: black;
}

.page-header h2 strong {
  text-align:center;
  color: #8B0000;
}
ul.thumbnails {
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

body{
    border-top:0;
    background:#fff;
}
nav navbar-nav .li{
 background-color: #ffffff;
 color: #FFFFFF;
}
.thumbnails li> .fff .caption {
    background:#fff !important;
    padding:10px
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #8B0000;
    text-transform: uppercase;
}

.page-header h1 {
    line-height: 0.88rem;
    text-align: center;
}
.page-header p {
  color: #696969;
  text-align:center;
}
#socialhappenings{
  color: #fff;
  background-color: #665D1E;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 15px 5px 0 0;
}

#socialevent{
  padding: 10px;
  color: #fff;
  background-color: #C0C0C0;
  -moz-border-radius: 5px15px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 15px 0 0;
}
ul.thumbnails {
    margin-bottom: 0px;
}



/* Thumbnail Box */
.caption h4 {
    color: #444;
}

.caption p {
    color: #999;
}



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}
.inner-bg {
  background: #696969;
  width: 100%;
  font-weight: bold;
}
.inner-bg h1{
  color: #ffffff;
}
.description {
  color: #ffffff;
}
.btn-link-2  {
  color:#ffffff;
}
.bg-overlay {
    background:  url("https://s-media-cache-ak0.pinimg.com/originals/0a/9d/29/0a9d29065910eae94ff5cca0d2157541.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
    height: 450px;
    padding-top: 50px;
    width:100%
}



#colophon {
  background: #696969;
  width: 100%;
  font-weight: bold;
}
#colophon li a{
  color: #ffffff;
}
ul {
  list-style-type: none;
}
}
#colophon .img {
  width: 100%;
}
.social_icon_list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.social_icon_list li {
    display: inline-block;
    margin: 0 5px;
}
.social_icon_list li a {
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 60px;
    opacity: 1;
    padding: 5px;
    width: 60px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0 none;
    text-decoration: none;
}
.social_icon_list li a i, .social_icon_list li a i {
    margin-top: 11px;
}
.social_icon_list li a {
    color: #fff;
}
.social_icon_list li:hover a {
    opacity: 0.8;
}
.social_icon_list li a.fb_icon {
    background: #3b5998 none repeat scroll 0 0;
  }
.social_icon_list li a.twit_icon {
  background: rgb(112, 186, 237) none repeat scroll 0 0;
}
.social_icon_list li a.gogle_plus_icon {
  background: rgb(218, 72, 53) none repeat scroll 0 0;
}
.social_icon_list li a.vimeo_icon {
  background: rgb(1, 185, 255) none repeat scroll 0 0;
}
.social_icon_list li a i, .social_icon_list li a i {
    margin-top: 11px;
}

footer {
  width: 100%auto;
  background: url ("ttps://wustl.edu/wp-content/themes/wustl_edu/_assets/img/leading-together-footer.png") 0 0 repeat-x;
}
